image: local:latex

build_docs:
  before_script:
    # Download and install pandoc 
    - apt-get update -y
    - apt-get install -y pandoc
    - apt-get install -y pandoc-citeproc
  script:
    - source makethedoc.sh
  artifacts:
    # Attach all untracked files (e.g. files that were recently created and not yet committed to git) as artifacts.
    # These are the files you then download after the job has finished.
    untracked: true
  only:
    # Only run on the master branch
    - master
